body {
    font-family: Helvetica, sans-serif;
    background-color: darkslategrey;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}
nav{
    border-bottom: 2px solid white;
}

.mainNav {
    font-size: 32px;
    padding: 0;
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 15%;
    padding-left: 15%;

}

.badges {

    display: flex;
    justify-content: center;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
}


.logo {
    width: 300px;
    align-self: center;
}
.tour {
    height:350px;
    align-self: center;
}

.oldfirm {
    padding: 5%;
}
#rangers {

}








